
.Signin4 {
    width: 1300px;
    margin: 0px auto;
  }
  
  /* Shriram Image */
  
  .Signin4 .Main-Card4 img {
    vertical-align: middle;
    border-style: none;
    width: 125px;
    height: 60px;
    position: relative;
    left: 99px;
  }
  
  .Signin4 .Main-Card4 .Img {
    width: 340px;
    background: #fff;
    position: relative;
    right: 25px;
  }
  
  .Signin4 .Text-Label {
    padding: 16px 0px 0px 0px;
  }
  
  .Signin4 .Text-Label h3
   {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #ffffff !important;
    font-weight: 500;
  }
  
  .Signin4 .Text-Label hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
    width: 336px;
    position: relative;
    right: 24px;
    background-color: grey;
    opacity: 0.20;
  }
  
  /* Overall Card  */
  
  .Signin4 .ant-card-bordered {
    border: 1px solid wheat;
    background-color: #02699d !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    width: 340px;
    position: relative;
    left: 540px;
    bottom: 420px;
    height: 400px;
  }
  
  /* Card Body */
  
  .Signin4 .ant-card-body {
    padding: 20px 24px !important;
    width: 340px;
    position: relative;
  }
  
  /* Mobile Number Label */
  
  .Signin4 .Signin-Form4 .ant-form-item-label > label::after {
    display: none !important;
  }
  
  .Signin4 .Signin-Form4 .Mobile-Number-label {
    height: 10px !important;
  }
  
  .Signin4 .Signin-Form4 .Mobile-Number-label .ant-form-item-label > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: #ffffff !important;
    font-size: 14px;
  }
  
  .Signin4 .Signin-Form4 .Input-Field {
    width: 292px !important;
    border-radius: 5px !important;
  }
  
  .Signin4 .Signin-Form4 .Input-Field2 {
    width: 292px !important;
    border-radius: 5px !important;
  }
  
  
  /* Password Label */
  
  .Signin4 .Signin-Form4 .Password-label {
    height: 10px !important;
  }
  
  .Signin4 .Signin-Form4 .Password-label .ant-form-item-label > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: #ffffff !important;
    font-size: 14px;
  }
  
  /* Forgot Password */
  
  .Signin4 .Signin-Form4 .Forgot-Password {
    cursor: pointer;
    height: 0px;
    color: #ffffff;
    position: relative;
    top: 6px;
    left: 218px;
    font-size: 10px;
  }
  
  .Signin4 .ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 11px 0px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
  }
  
  /* Login button */
  
  .Signin4 .Signin-Form4 .ant-btn-primary {
    color: #fff;
    border-color: #1890ff;
    background: #f4891d !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    border-radius: 5px !important;
    width: 294px !important;
    height: 39px !important;
    text-align: center !important;
    position: relative;
    top: 25px;
  }
  
  .Signin4 .Footer-Policy2 {
    position: relative;
    top: 225px;
  }
  
  .Signin4 .Footer-Policy2 a {
    font-weight: 700;
    color: black;
    font-size: 15px;
  }
  
  .Signin4 .Footer-Policy2 a:hover {
    color: black !important;
  }
  
  .Signin4 .Footer-Policy2 p {
    font-size: smaller;
    font-weight: 600;
  }
  
  /* input.ant-input.input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      background-color: transparent;
      width: 500px;
      left: 40px;
  }
  
  .ant-input:focus{
      box-shadow: none !important;   
  } */